//
// Load all required stylesheets
//

@import '_all';

//
// Your app styles
//

body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 60px;
    position: relative;
}

.text-header-style{
    font-size: 16px;
    line-height: 30px;
}

.content{
  margin-top: 100px;
}

.mg-r-80{
    margin-right: 80px;
}
.fasmall{
    position: relative;
    top: -2px;
    margin-left: 5px;
    font-size: 10px;
    font-weight: lighter;
}


@media (min-width: 992px) {
  .col-md-1-5 { width: 20%; }
  .col-md-2-5 { width: 40%; }
  .col-md-3-5 { width: 60%; }
  .col-md-4-5 { width: 80%; }
  .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
  .col-lg-1-5 { width: 20%; }
  .col-lg-2-5 { width: 40%; }
  .col-lg-3-5 { width: 60%; }
  .col-lg-4-5 { width: 80%; }
  .col-lg-5-5 { width: 100%; }
}

.heading-section{
  margin: 2em auto;
  padding-top: .5em;
}

.page-tittle-wrapper{
  display: block;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(154, 154, 154, 0.24);
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 90px;
    
    @media(max-width: @screen-phone){
        padding-bottom: 0;
        border-bottom: transparent;
        margin-bottom: 0;
    }
}

.sub-navbar-left{
    float: left;
    
    @media(max-width: @screen-tablet){
        float: none;
        top: -20px;
        position: relative;
    }
}

.sub-navbar-mid{
    
    @media(max-width: @screen-tablet){
        padding-left: 0 !important;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        left: 0;
        transform: none;
        border-bottom: 1px solid rgba(154,154,154,0.24);
        border-top: 1px solid rgba(154,154,154,0.24);
    }
}

.sub-navbar-right{
    float: right;
    
    @media(max-width: @screen-tablet){
        float: none;
        position: relative;
        top: 20px;
    }
}

.sub-text{
  margin: 10px 0px 20px;
  font-size: 12px;
  color: #777777;
}

.bg-home{
  background: url('../images/banner.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  
    @media(max-width:960px){
        display:none;
    }
}

.cover-small{
    
    display: none;
    height: auto;
    width: 100%;
    vertical-align: middle;
    bottom: 0;
    top: 0;
    
    @media(max-width:960px){
        display:block;
    }
    
    
}

.small-text-absolute{
    position: relative;
    top: -27px;
    padding: 20px;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.product-image-link{
    width: 100%;
    min-height: 120px;
    display: block;
    position: relative;
    border: 1px solid #ccc;
}

.card{
  margin-top: 10px;
  padding: 10px;

  @media(max-width:@screen-phone){
    float: left;
  }
}

.card-block.desc-card {
    text-align: center;
    
    p{
        margin-top: 5px;
    }
}

.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.card-title {
    text-align: center;
    font-size: 16px;
}

.pull-right-img{
  height:350px;
  overflow:hidden;
  float: right;
}

.clue-content{
  display: flex;
  font-size: 16px;
  height: 50px;
  width: 60%;
  margin: auto;
}

.big-icon{
  float:left;
  font-size: 30px;
}

.clue{
  width: 200px;
  margin-left: 30px;
}

.row-border{
  padding-bottom: 50px;
  margin: 50px 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #EBEBEB;
    
    @media(max-width: @screen-phone){
        border-bottom: transparent;
    }
}



//login page

.content-heading{
  .pd-b-10;
  border-bottom: 1px solid @gray-lighter;
  margin-bottom: 0px !important;
}

//shop

.hidden-button-cart{
    bottom: 0;
    height: 0;
    position: absolute;
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    transition: 0.1s linear;
    
}

.card:hover {
    .hidden-button-cart{
        height: 40px;
        padding: 10px;
    }
}

.filter-section{
    display: none;
    text-align: center;
    float: none;
}

.shirt-type{
    list-style: none;
    
    li{
        line-height: 30px;
        letter-spacing: 1px;
        padding: 62px;
        width: 25%;
        display: inline-block;
        
        a{
            font-size: 16px;
            color: @gray-light;
            
            &:hover, &:active, &:focus{
                color: @gray-base;
            }

        }
    }
}

.shop-category{
  padding: 0;
  list-style: none;
  text-align: left;
  margin: 10px auto;

  li{
    display:inline;
    padding:20px;
    margin: 0 20px;
      
      @media(max-width: @screen-tablet){
          padding: 0px;
          margin: 0 10px;
      }

    a{
      color: @gray-light;
      &:focus, &:active, &:hover{
        color: @gray-base;
      }
    }
  }
    
    @media(max-width: @screen-tablet){
        display: inline-flex;
        text-align: center;
    }
}

footer{
  position: relative;
  a {
    .text-header-style;
    padding: 5px;
    text-decoration: none;
    color: #333;
  }
}

.footer-block {
    background: rgba(255,255,255,0.9);
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;

      .footer-block-wrapper{
        border-top: 1px solid #ebebeb;
      }

      .footer-block-wrapper.submenu{
        transition: height 0.2s linear;
        height: 0;
      }

      .main-navigation{
        padding: 42px 0 29px;
        width: 1251px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }

      .submenu-navigation{
        margin: 38px 0 33px;
        width: 1251px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
          
          @media(max-width: @screen-phone){
              max-width: 350px;
          }
      }

      .social-icons{
        margin-left: 64px;
        text-align: center;
        display: inline-block;

          .single-icon {
            margin-right: 20px;
            color: #000;
            position: relative;
            width: 15px;
            display: inline-block;
          }
      }

      .single-link{
        position: relative;
        float: left;

        a {
          margin-right: 60px;
          position: relative;

            &:after {
              content: '';
              width: 7px;
              height: 7px;
              background: #4a4a4a;
              border-radius: 50%;
              top: 50%;
              margin-top: -4px;
              right: -33px;
              position: absolute;
            }
        }
      }

      .links{
        float: left;
          @media(max-width: @screen-phone){
              margin-left: 10px;
          }
      }

      &:hover .footer-block-wrapper.submenu{
        display:block;
        height: 164px;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
}

.footer-block.layer-first {
    z-index: 10;
}

.block-clue{
  border-right: 1px solid #eee;
    @media(max-width: @screen-phone){
        border-bottom: 1px solid #eee;
        border-right: transparent;
        margin-bottom: 30px;
        padding-bottom: 20px;

    }
}


//design-tool style
.color-preview {
	border: 1px solid #CCC;
	margin: 2px;
	zoom: 1;
	vertical-align: top;
	display: inline-block !important;
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
}

.rotate {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	/* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
	-ms-transform:rotate(90deg);
}

.Arial{font-family:"Arial";}
.Helvetica{font-family:"Helvetica";}
.MyriadPro{font-family:"Myriad Pro";}
.Delicious{font-family:"Delicious";}
.Verdana{font-family:"Verdana";}
.Georgia{font-family:"Georgia";}
.Courier{font-family:"Courier";}
.ComicSansMS{font-family:"Comic Sans MS";}
.Impact{font-family:"Impact";}
.Monaco{font-family:"Monaco";}
.Optima{font-family:"Optima";}
.HoeflerText{font-family:"Hoefler Text";}
.Plaster{font-family:"Plaster";}
.Engagement{font-family:"Engagement";}

.border-t-b{
    position: relative;
    padding: 20px 0;
    border-bottom: 0.5px solid @gray-light;
    border-top: 0.5px solid @gray-light;
}

.available{
    position:relative;
}

.border-t{
    position: relative;
    padding: 20px 0;
    border-top: 0.5px solid @gray-light;
}

.size-opt{
    display: inline-block !important;
    padding: 0px 10px;
}

.button-left{
    width: 49%;
    float: left;
}

.button-right{
    width:49%;
    float:right;
}

.button-group{
    margin-top: 15px;
    position: relative;
}

.custom-select{
    border-color: transparent !important;
    
    option{
        border-color: @gray-lighter;
        padding: 5px;
        box-shadow: none !important;
        &:hover,&:focus,&:active{
            box-shadow: none !important;
            background-color: @gray-light;
        }
    }
}


.text-small{
    font-size: 12px;
    letter-spacing: 0.2px;
}

//vendor
.bg-vendor{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
}

.shading{
    color: #fff;
    position: relative;
    background-color: rgba(154, 154, 154, 0.40);
}

.heading-typical{
    border-bottom: 1px solid @gray-lighter;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
    width: 100%;
    position: relative;
}

.vendor-top-section{
    margin-left:15px;
    margin-right: 15px;
}

.wrapper-text-vendor{
    padding: 202px 50px;
}

.form-wrapper{
    padding: 13% 10%;
    text-align: center;
}

.form-register-vendor{
    margin-top: 40px;
    text-align: left !important;
}

.vendor-bottom-section{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.img-card-vendor{
    float: left;
    width: 100%;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,.1);
}

.preview-vendor{
    width: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.bottom-card-vendor{
    position: relative;
    clear: both;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.vendor-list-heading{
    margin-top:40px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.top-gradient{
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #f3f2f0;
    background-image: -webkit-linear-gradient(#ffffff, #f5f5f5);
    background-image: linear-gradient(#ffffff, #f5f5f5);
    padding: 0 35px 15px;
}

.bottom-gradient-content{
    min-height: 200px;
    position: relative;
    padding-top: 20px;
}

.img-profile{
    position:relative;
    height:128px;
    width:128px;
}

.img-user{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    border: 2px solid #fff;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.user-info{
    margin-left: 20px;
}

.user-details{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 7px;
    margin-bottom: 30px;
}

.user-name{
    vertical-align: middle;
    padding-top: 50%;
    padding-bottom: 50%;
    height: 100%;
}

.user-details-name{
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 24px;
}

.tab-nav{
    display: flex;
    justify-content: space-between;
    padding-left:7px;
    padding-right: 7px;
}

.tab-nav_item_first{
    margin-left: 0 !important;
}

.tab-pane:not(.active) {
    display: none;
}

.tab-nav_item{
    border: none;
    background: 0 0;
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    font-size: 19px;

    .tab-nav_item-title{
        color: #555;
        display: inline;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 20px 0 15px 30px;
        padding-bottom: 6px;
        text-decoration: none;

        &:active,&:hover,&:focus{
        border-bottom: 3px solid #555;
        }
    }

    .active{
        border-bottom: 3px solid #555;
    }
}

//notif

.notif-list{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid #eeeeee;
    display: flex;
    justify-content: flex-start;
}