[viewBag]
==

<div class="cart-header">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav_cart()">&times;</a>
    <div class="text-center pd-b-10">
        <h5 class="text-header-style">(0) ITEMS IN BAG</h5>
    </div>
</div>

<div class="content">
    {% if cart.products|length %}
    <div class="text-center text-replace">
        {% for product in cart.products %}
            <table class="table table-responsive" style="width:70.5%; left:14,75%; position: relative">
                <tr>
                    <td class="col-md-2">{{ product.pivot.quantity }}</td>
                    <td class="col-md-8">{{ product.name }}</td>
                    <td class="col-md-2">{{ product.price|currency }}</td>
                </tr>
            </table>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center" style="padding: 10px 250px 100px">
       <h5 style="line-height:25px">YOUR SHOPPING BAG IS CURRENTLY EMPTY</h5>
    </div>
    {% endif %}
    <div class="bottom-content">
        <div class="block-flex flex-content-cart text-small">
            <span class="pull-left">Subtotal</span>
            <span class="pull-right">Rp. O</span>
        </div>
        <div class="text-center text-small mg-t-20 mg-b-20" style="color: @gray-lighter;">
            <p>Keep Shopping</p>
        </div>
        <a href="" class="btn btn-transparent" style="    
        padding: 15px;
        text-align: center;
        font-size: 16px;
        margin: auto;">CHECKOUT</a>
    </div>
    
</div>