[viewBag]

==
<div style="padding-top:170px;"></div>

<footer>
  <div class="footer-block layer-first">
    <div class="footer-block-wrapper">
      <div class="main-navigation">
          <div class="links">
            <div class="single-link">
              <a href="">
                CONTACT
              </a>
            </div>
            <div class="single-link">
              <a href="">
                ABOUT
              </a>
            </div>
          </div>
          <div class="social-icons">
            <div class="single-icon">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div class="single-icon">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <div class="single-icon">
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="links-to-top pull-right">
            <div class="single-link">
              <a href="#">TOP</a>
            </div>
          </div
      </div>
    </div>

    <div class="footer-block-wrapper submenu">
        <div class="submenu-navigation">
            <small class="text-center">
                Copyright {{ ''|date('Y') }}. All rights reserved. |
                <a href="{{ 'static/terms-and-conditions'|page }}">Terms and Conditions</a> |
                <a href="{{ 'static/privacy-policy'|page }}">Privacy Policy</a>
            </small>
        </div>
    </div>
  </div>
</footer>
