[viewBag]

[staticMenu mainMenu]
code = "main-menu"

[staticMenu userMenu]
code = "user-menu"

==
<header class="navbar-fixed-top {{ this.page.navbarInverse ? 'navbar-inverse' : 'navbar-default' }} {{ headersub ? 'header-sub' : '' }}">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar" style="width:30px !important;"></span>
			</button>

			<a class="navbar-brand" href="{{ 'home'|page }}">
				<img src="{{ ('assets/images/logo.png')|theme }}" alt="" class="img-responsive hidden-navbar-inverse hidden-navbar-default">
			</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-center">
				{% partial "mainMenu::items" items=mainMenu.menuItems %}
			</ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:80px;">
                {% if user %}
                    <li>
                        <a href="javascript:void(0);" data-toggle="dropdown" class="nav-name">
                            {{ user.name }} <i class="fa fa-chevron-down fasmall"></i>  
                        </a>

                        <ul class="dropdown-menu dropdown-user">
                            {% partial "userMenu::items" items=userMenu.menuItems %}
                            <li><a href="#" data-request="onLogout">LOGOUT</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-user">
                        <a href="{{ 'login'|page }}">LOGIN</a>
                    </li>
                {% endif %}	
		    </ul>
		</div>
        <div class="overlay">
            <div id="mySidenav1" class="sidenav">
                {% partial 'cart' cart=cart.cart %}    
            </div>
            <div id="mySidenav2" class="sidenav">
                {% partial 'wishlist' wishlist=wishlist %}
            </div>
        </div>
        <div class="nav-icon">
            <span aria-hidden="true" data-icon="&#xe013;" class="icon_click" onclick="openNav_wishlist()"></span>
        </div>
        <div class="nav-icon mg-r-40">
            <span aria-hidden="true" data-icon="&#xe030;" class="icon_click" onclick="openNav_cart()"></span>
        </div>
	</div>
</header>

{% put scripts %}
<script>
    function openNav_wishlist() {
      document.getElementById('mySidenav1').style.width = '700px';
    }

    function closeNav_wishlist() {
      document.getElementById('mySidenav1').style.width = '0';
    }
    
    function openNav_cart() {
      document.getElementById('mySidenav2').style.width = '700px';
    }

    function closeNav_cart() {
      document.getElementById('mySidenav2').style.width = '0';
    }
    
    
    $(document).ready(function(){
        $(".icon_click").click(function(){
            $(".overlay").fadeToggle(200);
        });
        
        $("button").click(function(){
            $(".navbar-toggle").toggleClass("is-active");
            $(".navbar-header").toggleClass("dropped");
        });
        

    });
    
    
    $('.overlay').on('click', function(){
        $(".overlay").fadeToggle(200);   
        open = false;
    });

    
</script>
{% endput %}