{% for product in products %}
      <div class="col-xs-6 col-sm-3 col-md-1-5">
        <div class="card">
          <a href="" class="product-image-link">
            <img class="card-img-top img-responsive" src="{{ product.front_image.thumb(300,auto) }}" alt="Card image cap">
            <div class="hidden-button-cart">
                <span><i class="fa fa-eye mg-r-10"></i>DETAILS</span> 
            </div>
          </a>
          <div class="card-block desc-card">
            <h4 class="card-title">{{ product.name }}</h4>
            <span class="card-text" style="width: 10em;">{{product.category.name}}<span style="font-style:italic;"> by {{ product.user.name }}</span></span>
            <p>{{ product.price }}</p>
            <button type="button" class="btn btn-xs btn-primary" data-request="cart::onAdd" data-request-data="product_id: {{ product.id }}" data-request-update="'cart' : ">button</button>
          </div>
        </div>
      </div>
{% endfor %}