[viewBag]
==

<div class="wishlist-header">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav_cart()">&times;</a>
    <div class="text-center pd-b-10">
        <h5 class="text-header-style">WISHLIST</h5>
    </div>
</div>
<div class="content" style="margin-top:0; height:100%;">
    <!--{% if not user %}
    <div class="text-center text-replace">
       <h5 style="line-height:25px">YOU SHOULD LOGIN FIRST TO SAVE A SHIRT</h5>
       <h5>- OR -</h5>
    </div>
    {% endif %}-->

    <div class="text-center text-replace">
        {% for product in wishlist %}
            <table class="table table-responsive" style="width:70.5%; left:14,75%; position: relative">
                <tr>
                    <td class="col-md-8">{{ product.product.name }}</td>
                    <td class="col-md-2">{{ product.product.price }}</td>
                    <td class="col-md-2">
                        <a href="javascript:void(0);"
                            class="text-muted"
                            data-request="wishlist::onRemove"
                            data-request-data="wishlist_id: {{ product.id }}"
                            data-request-update="'wishlist': 'header #mySidenav2'"
                            data-request-flash data-attach-loading>
                            <i class="fa fa-trash-o"></i> Hapus
                        </a>
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>
    <div class="bottom-content">
       <div class="actions">
        <a href="{{ 'shop'|page }}" class="btn btn-transparent" style="
        padding: 15px;
        text-align: center;
        font-size: 16px;
        margin: auto;
        ">FIND PRODUCT</a>
        </div> 
    </div>
</div>