title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[productList]
==
<?php
function onStart() {
    $this->page->navbarInverse = true;
}
?>
==
<div class="hero-home">
  <div class="bg-home">
  </div>
  <img src="{{ 'assets/images/banner-small.png'|theme }}" class="cover-small"/>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <h4 class="text-center">NEWEST ENTRY</h4>
        </div>
      </div>
    </diV>
    <div class="row">
      {% for product in products %}
      <div class="col-xs-6 col-sm-3 col-md-1-5">
        <div class="card">
          <a href="{{ 'products/product-detail'|page({slug: product.slug}) }}" class="product-image-link">
            <img class="card-img-top img-responsive" src="{{ product.image.path }}" alt="Card image cap">
            <div class="hidden-button-cart">
                <span>ADD TO BAG <span aria-hidden="true" data-icon="&#xe013;"></span></span> 
            </div>
          </a>
          <div class="card-block desc-card">
            <h4 class="card-title">{{ product.name }}</h4>
            <span class="card-text" style="width: 10em;">{{ product.category.name }}<span style="font-style:italic;"> by {{ product.user.name }}</span></span>
            <p>Rp. {{ product.price }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
      <div class="col-md-2 btn-centered">
        <a class="btn btn-default btn-transparent" href="#">SHOW MORE</a>
      </div>
    </div>
    <hr class="pd-20"/>


    <div class="row">
      <div class="col-md-5 pd-b-40">
        <h3>Multiple designers,</br>
            incredible results</h3>
        <hr style="width:8%; border-width:5px; border-color: #333; margin-left:0;"/>
        <p>Designers explode the ideas while give you a great new mode shirt design. You pick your favorite.</p>
      </div>
      <div class="col-md-7">
        <div class="pull-right-img">
          <img class="card-img-top img-responsive" src="{{ 'assets/images/hero-bg-head2.png'|theme }}" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row row-border">
      <div class="col-md-4 block-clue">
          <div class="clue-content text-center">
            <span aria-hidden="true" data-icon="&#xe013;" class="big-icon"></span>
            <div class="clue">
              <span class="text-clue">Choose a shirt design you love</span>
            </div>
          </div>
      </div>
      <div class="col-md-4 block-clue">
        <div class="clue-content text-center">
          <img src="{{ 'assets/images/shirt.png'|theme }}" style="height:30px; opacity:50%;">
          <div class="clue">
            <span class="text-clue">Craft your idea into a shirt design</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="clue-content text-center">
          <span aria-hidden="true" data-icon="&#xe030;" class="big-icon"></span>
          <div class="clue">
            <span class="text-clue">Grow your vendor company</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-push-7">
        <span style="padding-top:30px; padding-bottom:30px;">
          <h3>We provide to help</br>
              little vendors to grow</h3>
          <hr style="width:8%; border-width:5px; border-color: #333; margin-left:0;"/>
          <p>Our goals is connect many designers with vendors to collaborate and achieved their goals</p>
        </span>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor1.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor2.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor3.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor4.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor3.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor4.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor1.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor2.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor3.png'|theme }}">
        <img style="padding:3px; height:110px;" src="{{ 'assets/images/vendor4.png'|theme }}">
      </div>
    </div>
  </div>
