title = "Login Page"
url = "/login"
layout = "default"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
<div class="container">
  <div class="page-tittle-wrapper">
      <h4>CUSTOMER LOGIN</h4>
  </div>
  <div class="row">
    <div class="col-md-6 form-login">
      <h5 class="content-heading">REGISTERED CUSTOMER</h5>
      <p class="sub-text">If you have an account, sign in with your email address.</p>
        <form data-request="onSignin" method="post">
          <div class="form-group">
              <label>EMAIL</label>
              <input name="email" type="email" class="form-control form-square input-lg"/>
          </div>
          <div class="form-group">
              <label>PASSWORD</label>
              <input name="password" type="password" class="form-control form-square input-lg"/>
          </div>
          <button type="submit" class="btn btn-default btn-brown input-lg">LOGIN</button>
        </form>
    </div>
    <div class="col-md-6 form-register">
        <h5 class="content-heading">UNREGISTERED CUSTOMER</h5>
        <p class="sub-text">Creating account has manye benefits you can designing your own product, tracking your orders, etc.</p>
        <form data-request="onRegister" data-request-flash>
          <div class="form-group">
              <label for="registerName">YOUR NAME</label>
              <input name="name" type="text" class="form-control form-square input-lg" id="registerName"/>
          </div>

          <div class="form-group">
              <label for="registerEmail">EMAIL</label>
              <input name="email" type="email" class="form-control form-square input-lg" id="registerEmail"/>
          </div>

          <div class="form-group">
              <label for="registerusername">USERNAME</label>
              <input name="username" type="text" class="form-control form-square input-lg" id="registerPostal"/>
          </div>

          <div class="form-group">
              <label for="registerPassword">PASSWORD</label>
              <input name="password" type="password" class="form-control form-square input-lg" id="registerPassword" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-default btn-brown input-lg">CREATE ACCOUNT</button>
          </div>
        </form>
    </div>
  </div>
</div>
