title = "Profile"
url = "/profile"
layout = "default"
is_hidden = 0
==

<div class="container-fluid pd-t-40 mg-t-20">
    <div class="top-gradient">
        <div class="user-details">
            <div class="img-profile">
                <div class="img-user" style="background-image: url({{ 'assets/images/banner.png'|theme }})"></div>
            </div>
            <div class="user-info">
                <div class="user-name">
                    <h3 class="user-details-name">{{user.name}}</h3>
                </div>
            </div>
        </div>
        <div class="tab-nav">
            <div class="tab-nav_item pull-left">
                <a href="#portofolio" class="tab-nav_item-title tab-nav_item_first active"  role="tab" data-toggle="tab" aria-controls="portofolio" aria-expanded="true">Portofolio</a>
                <a href="#history" class="tab-nav_item-title" role="tab" data-toggle="tab" aria-controls="history">History</a>
            </div>
            <div class="tab-nav_item pull-right">
                <a class="btn btn-gray" href="#" style="font-size: 17px;
        letter-spacing: 0.5px; padding: 9px 20px;">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="bottom-gradient-content">
        <div role="tabpanel" class="tab-pane fade in active" id="portofolio">
            <div class="col-xs-6 col-sm-3 col-md-1-5">
                <div class="card">
                <a href="" class="product-image-link">
                    <img class="card-img-top img-responsive" src="{{ 'assets/images/tshirt-mockup.png'|theme }}" alt="Card image cap">
                    <div class="hidden-button-cart">
                        <span>ADD TO BAG <span aria-hidden="true" data-icon="&#xe013;"></span></span> 
                    </div>
                </a>
                <div class="card-block desc-card">
                    <h4 class="card-title">T-shirt</h4>
                    <span class="card-text" style="width: 10em;">Sekaos<span style="font-style:italic;"> by VhieaArch</span></span>
                    <p>Rp. 60,000</p>
                </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="history">
            <div class="text-center mg-t-40 pd-t-40">
                <h3>Anda Belum melakukan transkasi apapun</h3>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script>
    
    $(".tab-nav_item-title").click(function(){
        $(".tab-nav_item-title").removeClass("active");
        $(this).addClass("active");
    });
</script>
{% endput %}