title = "Register Page"
url = "/register"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
==


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-login">
        <div class="login-header text-center">
          <h3>Welcome to Sekaos</h3>
        </div>
        <div class="login-content">
          <form
              data-request="onRegister">
              <div class="form-group">
                  <input
                      name="name"
                      type="text"
                      class="form-control"
                      id="registerName"
                      placeholder="Enter your full name" />
              </div>

              <div class="form-group">
                  <input
                      name="email"
                      type="email"
                      class="form-control"
                      id="registerEmail"
                      placeholder="Enter your email" />
              </div>

              <div class="form-group">
                  <input
                      name="password"
                      type="password"
                      class="form-control"
                      id="registerPassword"
                      placeholder="Choose a password" />
              </div>

              <button type="submit" class="btn btn-danger form-control">Register</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
