title = "Shop"
url = "/shop"
layout = "default"
is_hidden = 0

[productList]
==
<div class="container">
  <div class="page-tittle-wrapper">
    <div class="sub-navbar-left">
        <div class="small-text-absolute" style="top:-17px;">
            <p>DISPLAYING <strong>20 SHIRT</strong></p>
        </div>
    </div>
    <div class="navbar-center sub-navbar-mid" style="top:-27px;">
      <ul class="shop-category">
      <li>
        <a href="#" class="category-shop">MEN</a>
      </li>
      <li>
        <a href="#" class="category-shop">WOMEN</a>
      </li>
      <li>
        <a href="#" class="category-shop">KIDS</a>
      </li>
      <li>
        <a href="#" class="category-shop">PACKAGE</a>
      </li>
    </div>
    <div class="sub-navbar-right" style="margin: 0 60px;">
      <div class="dropdown show small-text-absolute">
        <a class="dropdown-sort dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SORT BY
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">NEW ENTRY</a>
          <a class="dropdown-item" href="#">LOWER PRICE</a>
          <a class="dropdown-item" href="#">HIGHER PRICE</a>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-section">
    <ul class="shirt-type" style="padding-left: 0;">
      {% for category in categories %}
        <li>
            <a href="#" data-request="onChangeCategory" data-request-data="category_slug: '{{ category.slug }}'" data-request-update="'shop-product' :'#coba' " data-attach-loading>{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="row">
    <div id="coba" class="column">
      {% partial 'shop-product' products=products %}
    </div>
  </div>
</div>
    
{% put scripts %}
<script>
    $('.category-shop').on('click', function(){
        $(".filter-section").fadeToggle(200);   
    });
</script>    
{% endput %}