title = "Track orders"
url = "/track-orders"
layout = "default"
is_hidden = 0
==

<div class="container">
    <div class="page-header">
        <h3>Tracking Order</h3>
    </div>
    <div class="content">
        <div class="col-sm-6 col-sm-offset-3">
            <form>
                <p class="mg-b-40" style="text-transform: uppercase">Track your orders by fill this form</p>
                <div class="form-group">
                    <label>ORDER NO</label>
                    <input name="order" type="text" class="form-control form-square"/>
                </div>

                <div class="form-group">
                    <label>EMAIL ADDRESS</label>
                    <input name="email" type="email" class="form-control form-square"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-brown">TRACK MY ORDER</button>
                </div>
            </form>
        </div>
    </div>
</div>