title = "Vendor"
url = "/vendor"
layout = "default"
is_hidden = 0
==

<div class="heading-typical">
    <div class="page-title-wrapper">
        <div class="text-center">
            <h3 class="text-header-style">3.000.000.000 Vendors has been registered</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row vendor-top-section">
        <div class="col-md-6 col-sm-6 col-xs-12 bg-vendor" style="background-image: url({{ 'assets/images/contoh.jpg'|theme }})">
            <div class="text-center shading">
                <div class="wrapper-text-vendor">
                    <h3 style="line-height: 35px;">Grow your vendor and increase your income instanly</h3>
                    <h4 class="mg-t-40">JOIN NOW! <i class="fa fa-chevron-right"></i> </h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-wrapper">
                <h5 class="content-heading">REGISTER YOUR VENDOR</h5>
                <p class="sub-text">Join and compete with another vendors enthusiast</p>
                <form data-request="onRegister" data-request-flash class="form-register-vendor">
                <div class="form-group">
                    <label for="registerName">YOUR VENDOR NAME</label>
                    <input name="name" type="text" class="form-control form-square" id="registerName"/>
                </div>

                <div class="form-group">
                    <label for="registerEmail">EMAIL</label>
                    <input name="email" type="email" class="form-control form-square" id="registerEmail"/>
                </div>

                <div class="form-group">
                    <label for="registerPassword">PASSWORD</label>
                    <input name="password" type="password" class="form-control form-square" id="registerPassword" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-brown">REGISTER</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row vendor-bottom-section">
        <div class="vendor-list-heading">
            <h3><strong>Available</strong> vendors</h3>
        </div>
        {% for i in 1..11 %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card-vendor">
               <figure class="img-card-vendor">
                    <img src="{{ 'assets/images/card-vendor.jpeg'|theme }}" class="img-responsive preview-vendor"/>
                </figure> 
                <div class="bottom-card-vendor">
                    <div class="pull-left">
                        <h5>Toko sekacrot</h5>
                        <p class="text-small">Magetan, Jawa Timur</p>
                    </div>
                    <div class="pull-right" style="padding: 20px 0;">
                        <a class="btn btn-black text-small" href=""><i class="fa fa-plus mg-r-5"></i> Invite </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>