title = "product-detail"
url = "/product-detail/:slug"
layout = "default"
is_hidden = 0

[productDetail]
slug = "{{ :slug }}"
==
{% set product = productDetail.product%}
<div class="container">
    <div class="content">
        <div class="col-lg-6 col-md-12 col-sm-12 single-top">
            <ul id="etalage">
                <li>
                    <img data-color-value class="etalage_thumb_image img-responsive" src="{{ 'assets/images/t-shirtEditor/crew_front.png'|theme }}" alt="" >
                    <img data-color-value class="etalage_source_image img-responsive" src="{{ 'assets/images/t-shirtEditor/crew_front.png'|theme }}" alt="" >
                </li>
                <li>
                    <img class="etalage_thumb_image img-responsive" src="{{ 'assets/images/t-shirtEditor/crew_back.png'|theme }}" alt=""  >
                    <img class="etalage_source_image img-responsive" src="{{ 'assets/images/t-shirtEditor/crew_back.png'|theme }}" alt="" >
                </li>
            </ul>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 single-top-in">
            <div class="single-para">
                <h4><strong>{{ product.name }}</strong><span style="font-style:italic;"><small> by VhieArch</small></span></h4>
                <br/>
                <p>Rp. 69,000</p>
                <br/>
                <p><small>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</small></p>
                <br/>
                <div class="available">
                    <div class="material-option border-t">
                        <p style="margin:0;">
                            MATERIAL
                            <span class="pull-right">
                                <select class="custom-select">
                                    <option value="1">COTTON COMBED</option>
                                    <option value="2">PREMIUM COTTON</option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="size-option border-t">
                        <span class="pull-left" style="text-align:left">SIZE</span>
                        <ul class="nav pull-right" style="text-align:right">
                            <li class="size-opt" style="cursor:pointer" data-toggle="chooseSize" data-value="xxl">XXL</li>
                            <li class="size-opt" style="cursor:pointer" data-toggle="chooseSize" data-value="xl">XL</li>
                            <li class="size-opt" style="cursor:pointer" data-toggle="chooseSize" data-value="l">L</li>
                            <li class="size-opt" style="cursor:pointer" data-toggle="chooseSize" data-value="m">M</li>
                            <li class="size-opt" style="cursor:pointer" data-toggle="chooseSize" data-value="s">S</li>
                        </ul>
                        <input type="hidden" data-size-value/>
                        {% put scripts %}
                        <script>
                        $("[data-toggle=chooseSize]").click(function(){
                            var el      = $(this);
                            var size    = el.attr('data-value');
                            $("[data-size-value]").val(size);
                        });
                            
                        $("[data-toggle=chooseColor]").click(function(){
                            var el      = $(this);
                            var color    = el.attr('data-value');
                            
                            $("[data-toggle=chooseColor]").css({'border': '1px solid #ddd'});
                            $(this).css({'border': '1px solid red'});
                            
                            $("[data-color-value]").attr('src', color)
                        })
                        </script>
                        {% endput %}
                    </div>
                    <br/>
                    
                    <div class="color-option border-t-b">
                        <span>COLOR </span>
                        <ul class="nav pull-right">
                            <li data-toggle="chooseColor" data-value="https://tees.co.id/public/uploads/images/26669/417029/cache/thumbnail.jpg" class="color-preview" title="White" style="background-color:#fff;"></li>
                            <li data-toggle="chooseColor" data-value="https://tees.co.id/public/uploads/images/26669/411985/cache/thumbnail.jpg" class="color-preview" title="Dark Heather" style="background-color:#000;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Gray" style="background-color:#f0f0f0;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Charcoal" style="background-color:#5b5b5b;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Black" style="background-color:#222222;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Heather Orange" style="background-color:#fc8d74;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Heather Dark Chocolate" style="background-color:#432d26;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Salmon" style="background-color:#eead91;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Chesnut" style="background-color:#806355;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Dark Chocolate" style="background-color:#382d21;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Citrus Yellow" style="background-color:#faef93;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Avocado" style="background-color:#aeba5e;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Kiwi" style="background-color:#8aa140;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Irish Green" style="background-color:#1f6522;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Scrub Green" style="background-color:#13afa2;"></li>
                            <li data-toggle="choosColor" data-value="" class="color-preview" title="Teal Ice" style="background-color:#b8d5d7;"></li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="button-group">
                    <div class="button-left">
                        <button class="btn btn-transparent btn-default" data-request="cart::onAdd" data-request-data="product_id: {{ product.id }}" data-request-update="'cart' :'header #mySidenav1' " data-request-flash data-attach-loading>ADD TO BAG <span aria-hidden="true" data-icon="&#xe013;"></span></button>
                    </div>
                    <div class="button-right">
                        <button class="btn btn-transparent btn-default" data-request="wishlist::onAdd" data-request-data="product_id: {{ product.id }}" data-request-update="'wishlist' :'header #mySidenav2' " data-request-flash data-attach-loading>WISHLIST <span aria-hidden="true" data-icon="&#xe030;"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
		<script src="{{ [
            'assets/js/jquery.miniColors.min.js',
		    '../../bower_components/jquery-etalage/jquery.etalage.min.js'
		    ]|theme }}"></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#etalage').etalage({

        thumb_image_width: 400,
        thumb_image_height: 550,
        source_image_width: 1600,
        source_image_height: 1900,
        zoom_area_width: 570,
        zoom_area_height: 550,
        autoplay: false,
        smallthumbs_position: 'left'

        });

      });
    </script>
{% endput %}