title = "Edit profile"
url = "/edit-profile"
layout = "default"
is_hidden = 0


[account]
paramCode = "code"
forceSecure = 0

[imageUploader]
placeholderText = "Click or drag images to upload"
maxSize = 5
fileTypes = ".gif,.jpg,.jpeg,.png"
imageWidth = 100
imageHeight = 100
imageMode = "crop"
==

function onInit()
{
    $user = Auth::getUser();
    if($user){
        $component = $this->addComponent(
            'Responsiv\Uploader\Components\ImageUploader',
            'imageUploader',
            ['modelClass'=>'RainLab\User\Models\User','modelKeyColumn'=>'avatar', 'deferredBinding' => false]
        );

        $component->bindModel('avatar', $user);
    }
    else{
      $this->imageUploader->bindModel('avatar', new RainLab\User\Models\User);
    }
}

==

<div class="container">
    <div class="page-header">
        <h3>Edit my profile</h3>
    </div>
    <div class="content">
        <div class="col-md-3 col-xs-12">
            <h4>Your personal information</h4>
        </div>
        <div class="col-md-6 col-xs-12">
            <form data-request="onRegister" data-request-flash>
                <div class="form-group">
                    <label for="profilePicture" class="control-label">PROFILE PIRCTURE</label>
                    {% component 'imageUploader' %}
                </div>
                <div class="form-group">
                    <label>YOUR NAME</label>
                    <input name="name" type="text" class="form-control form-square"/>
                </div>

                <div class="form-group">
                    <label>EMAIL</label>
                    <input name="email" type="email" class="form-control form-square"/>
                </div>

                <div class="form-group">
                    <label>PHONE</label>
                    <input name="phone" type="text" class="form-control form-square" />
                </div>

                <div class="form-group">
                    <label>ADDRESS</label>
                    <textarea name="phone" type="text" class="form-control form-square"></textarea>
                </div>

                <div class="form-group">
                    <label>POSTAL CODE</label>
                    <input name="postcode" type="text" class="form-control form-square"/>
                </div>

                <div class="form-group">
                    <label>USERNAME</label>
                    <input name="username" type="text" class="form-control form-square"/>
                </div>

                <div class="form-group">
                    <label>PASSWORD</label>
                    <input name="password" type="password" class="form-control form-square"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-brown">UPDATE PROFILE</button>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>