title = "Notifications"
url = "/notifications"
layout = "default"
is_hidden = 0
==

<div class="container">
    <div class="page-header">
        <h3>Notifications</h3>
    </div>

    <div class="content">
        {% for i in 1..5 %}
        <div class="notif-list">
            <div class="col-md-3 date-notif">
                <h3 class="mg-t-10">04 July</h3>
            </div>
            
            <div class="col-md-9 message-notif">
                <ul style="list-style: none;">
                    {% for i in 1..3 %}
                    <li class="mg-t-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eveniet, nulla blanditiis ducimus quia repudiandae aperiam maxime ratione, cumque vel. <span class="text-small text-muted">20 minutes ago</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>