//
// Custom buttons
//
// Use bootstrap mixins. Example:
//
// .button-variant(@color; @background; @border)
//
// .button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius)

.btn-outline-primary {
	.button-variant(@brand-primary, transparent, @brand-primary);
}

.btn-transparent{
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 0px;
  width: 100%;
  
    &:hover,&:active,&:focus{
        color: #fff;
        background-color: @gray-base;
        border: 1px solid @gray-base;
    }
}

.btn-centered{
  margin: 10px auto;
  float: none;
  @media(max-width: @screen-tablet){
    width: 50%;
  }
}

.btn-brown{
  background-color: @gray;
  border: 1px solid @gray;
	color: #fff;
  border-radius: 0px;
  width: 100%;

	&:hover{
		background-color: @gray-base;
		border-color: @gray-base;
		color: #fff !important;
		outline-color: @gray-base;
	}

	&:active,&:focus{
		background-color: @gray-base;
		border-color: @gray-base;
		color: #fff;
		box-shadow: none;
	}
}

.btn-black{
  border-radius: 0px;
  width: 100%;
  color: #fff !important;
  background-color: @gray-base;

  &:hover,&:active,&:focus{
    color: #fff !important;
  }
}

.btn-gray{
  width: 100%;
  color: #555 !important;
  background-color: @gray-lighter;
  text-decoration: none;

  &:hover,&:active,&:focus{
    color: #555 !important;
    box-shadow: none !important;
  }
}
