.dropdown-menu{
  top: 70% !important;
  font-size: 12px !important;
  padding: 5px 10px !important;
  a{
    display:block !important;
    padding:5px;
  }

  &:before{
    background: rgba(0,0,0,0) url(../images/dropdown-arrow.png);
    content: "";
    position: absolute;
    height: 5px;
    left: 50%;
    margin-left: -3.5px;
    top: -5px;
    width: 7px;
  }
}

.dropdown{
  margin: 10px auto;
  a{
    color:@gray-base;
    &:hover,&:active,&:focus{
      color:@gray-base;
    }
  }

  .dropdown-sort:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #4a4a4a;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    right: -33px;
    position: absolute;
      
      @media(max-width: @screen-tablet){
          right: 230px;
      }
      
      @media(max-width: @screen-phone){
          right: 33px;
      }
  }
}

.dropdown-user{
    top: 70px !important;
    left: -20px !important;

    >li>a{
        padding: 5px !important;
    }
}