.form-login {
    padding: 10px 50px 10px 0;
}

.form-register {
  border-left: 1px solid @gray;
  padding: 10px 0px 10px 50px;
}

.form-square {
    box-shadow: none;
    background-color: #fff;
    border-radius: 0px !important;
    margin-bottom: 20px;

    &:focus {
      border-color: @gray-base;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: inset none;
  }
}


label{
  margin-left:0px !important;
  margin-bottom: 20px;
  font-weight: normal;
}
