//
// Hero
//

.hero {
    margin-top: 200px;
    position: relative;
}

.hero-home{
    margin-top: -60px;
    position: relative;
    min-height: 300px;
    height: 800px;

    .content-center{
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 100%;
    }
    
    @media(max-width:960px){
        height: auto;
        margin-bottom: 60px;
    }
}
