.navbar-brand{
  height: 80px;

  > img{
    height: 50px;
  }
  
    @media(max-width:@screen-tablet){
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 72px;
        height: auto;
        margin-top: 0;
    }
}

.navbar-fixed-top{
    position: fixed !important;
}

.navbar-toggle{
    float: left;
    left: 50px;
    border-color: transparent !important;
    border-right: transparent;
    border-radius: 0px;
    border-right-width: 200px;
    height: 80px;
    top: 0;
    margin: 0;
    padding-right: 20px;
    
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active {
    background-color:transparent;
}

.navbar-collapse{
    @media(max-width:@screen-tablet){
        background-color: #fff;
    }
}

.is-active{
    border-right: 1px solid rgba(0,0,0,0.1) !important;
}

.dropped{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333 !important;
}


.navbar-center {
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translatex(-50%);

    > ul{
        text-align: center;
        float: none !important;
        > li {
            float: none !important;
            display: inline-block;

            > a {
              background-color: transparent !important;
            }
        }
    }
    
    @media(max-width:@screen-tablet){
        padding-left: 60px !important;
        position: relative;
        text-align: left;
    }
}

.navbar-right{
    @media(max-width:@screen-tablet){
        padding-left: 50px !important;
    }
}

.navbar-inverse, .navbar-default{
  border-bottom: 1px solid rgba(154,154,154,0.24);

  .navbar-nav{
    padding: 10px;
  >li{
      >a{
        .text-header-style;
        text-decoration: none;
      }
    }
  }
}

.nav-category{
  margin-top:60px;
  padding-bottom:20px;
}


.overlay {
	display:none;
	position:fixed;
    left:0;
	top:0;
	height:100%;
	width:100%;
    background: rgba(0,0,0,0.5);
	overflow:auto;
	z-index:99;
}

.nav-icon {
  padding: 5px 15px;
  .text-header-style;
  text-decoration: none;
  cursor: pointer;
  top: 20px;
  right: 20px;
  position: fixed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.2s;
    
    @media(max-width: @screen-tablet){
        max-width: 100%;
    }
    
    @media(max-width: @screen-phone){
        max-width: 100%;
    }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: @gray;
  display: block;
  transition: 0.3s
}

.sidenav a:hover,
.sidenav .offcanvas a:focus {
  color: @gray;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  left: 10%;
  cursor: pointer;
  font-size: 45px;
}


.wishlist-header, .cart-header{
  border-bottom: 0.5px solid @gray-lighter;
}

.text-replace{
    
    display: block;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -20px;
}

.bottom-content{
    width: 70.5%;
    position: absolute;
    bottom: 50px;
    left: 14.75%;
    >.actions{
        position: relative;
    }
}

.flex-content-cart{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.nav-name{
    text-transform: uppercase;

    &:hover,&:active,&:focus,&:visited{
        background-color: transparent !important;
    }
}
